body{
	font-family: Helvetica;
	overflow: hidden;
	min-width: 500px;
}

.card{
	border: 1px solid #ffd400;
    border-radius: 1rem;
}

.card-body{
	color:#746d6c;
	padding-left: 1rem;
    padding-right: 1rem;
    overflow: inherit;
    font-weight: 100;
    font-size: 16px;
}

.card-title{
	color:#746d6c;
	text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #ffd400;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#cards-holder{

		grid-template-columns: 1fr 1fr 1fr;
	
    width: 100%;
    margin: auto;
    grid-row-gap: .5em;
    grid-column-gap: 1em;
    display: grid;
    clear: both;
    padding-top: 2rem;
}

.cancel,#menu{
	float: right;
	padding:.5rem;
	color:#746d6c;
}

#menu{
	float: left;
	font-size: 2rem;
}

.cancel:hover, #menu:hover{
	color:#ffd400;	
}

#card-trigger li {
	list-style: none;
	border-bottom: 1px solid transparent;
	padding:1rem;
	float: left;
}

#card-trigger li:hover{
	border-bottom: 1px solid #ffd400;
}

#card-trigger li a,#remover{
	text-decoration: none;
	color:#746d6c;
}

#remover{
	background-color: #ffd400;
	text-transform: uppercase;
	border-radius: 1rem;
	padding: 1rem;
	float:right;
}

#remover i{
	padding-right:1em;
}

#remover:hover{
	color:#fff;
}

#card-trigger{
	visibility: hidden;
}

#menu{
	display: block;
}

@media screen and (max-width: 500px){
	#cards-holder{
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 768px){
	#cards-holder{
    width: 80%;
}
	#card-trigger{
		visibility: visible;
	}
	#menu{
		display: none;
	}
}
